<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{url_for('static',filename='chatbot.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome to Chatbot</h1>
    <div class="backbox"><button class="btnback" onclick="previouspage()">previous page</button></div>
   
    <div>
      <div id="chatbox">
        <!--<p class="botText"><span>Hi! I'm Jarvis.</span></p>-->
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
          var data = window.location.href.split("/");
          const current_room=data[data.length-1];
          const username = data[data.length-2];
          const user_id = data[data.length-3];

          var read_messages=0;
        

        function getBotResponse() {
          var rawText = $("#textInput").val();  
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});

          var http = new XMLHttpRequest()
            http.open("POST","http://localhost:5000/api/room/"+current_room+"/"+user_id+"/messages?message="+rawText, true)
            http.send();
         
        
        }

        var myVar=setInterval(function(){printNewMessages(false)},5000);


        function printNewMessages(first){
            var http=new XMLHttpRequest()
            http.open("GET","http://127.0.0.1:5000/api/room/"+current_room+"/messages?user_id="+user_id,true)
            http.onreadystatechange=function(){
              if(this.readyState==4 && this.status == 200){
                var messages=JSON.parse(this.responseText);
                var messagesK = Object.keys(messages)
                //console.log(messages);
                var i = 0;
                while(i<messagesK.length){
                  
                    if(i>=read_messages){
                      if(messages[messagesK[i]].user_id != user_id){
                        var botHtml = '<p class="botText"><span>'+ messages[messagesK[i]].username +": " + messages[messagesK[i]].message + '</span></p>';
                        $("#chatbox").append(botHtml);
                        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                        read_messages++;
                      }else if(first && messages[messagesK[i]].user_id == user_id){
                        var botHtml = '<p class="userText"><span>'+ messages[messagesK[i]].message + '</span></p>';
                        $("#chatbox").append(botHtml);
                        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                        read_messages++;
                      }else{
                        read_messages++;
                      }
                    }
                    i++;
                }
                
               
              }
            }
            http.send()
           // $.get("/get", { msg: rawText }).done(function(data) {
            //var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            //$("#chatbox").append(botHtml);
            //document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
         // });
        }
        printNewMessages(true)
        
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
        function previouspage(){
          window.location = window.location = "http://localhost:5000/"+user_id+"/"+username+"/"
        }
      </script>
    </div>
  </body>
</html>