
<html>
<head>
<title></title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
<!--<link rel="stylesheet" href="./static/style.css">-->

<meta charset="utf-8">
</head>
<body>
    <div class="box">
<h1>
    Create a User
</h1>
<input type="text" name="" placeholder="Enter Username" id="username">
<input type="submit" name="" value="Create a User" onclick="validateUsername()">
</div>



<div class="rooms">
    <div class="roomstop"></div>
    <div class="roomsbot"></div>
</div>

<script>
    var user = null;
    var current_room = -1;
    read_messages = 0;

    function Getallrooms(){

        var http = new XMLHttpRequest()
        http.open("GET","http://127.0.0.1:5000/api/rooms", true)
        http.onreadystatechange = function(){
            if(this.readyState == 4 && this.status === 200){
                
                


                var rooms = JSON.parse(this.responseText);
                var rs = document.getElementsByClassName("rooms");
                var rst = document.getElementsByClassName("roomstop");
                var rsb = document.getElementsByClassName("roomsbot");
                document.getElementsByClassName("box")[0].style = "display: none;";
                console.log(rooms);



                //add a room button
                
                
                var add_room_btn = "<button class=\"btnaddrooms\">Create a room</button>";
                rst[0].innerHTML = add_room_btn;
                document.getElementsByClassName("btnaddrooms")[0].onclick=function addrooms(){
                    var http2 = new XMLHttpRequest();
                    http2.open("POST","http://127.0.0.1:5000/api/room", true)
                    http2.onreadystatechange = function(){
                        if(this.readyState === 4 && this.status === 200){
                            //console.log(rooms)
                            //show_rooms()
                            Getallrooms()
                        }
                    }
                    http2.send();
                }

                function enter_room(btn){
                    //console.log("Entering room " + btn.value)
                    current_room = btn.value
                }

                function join_a_room(btn){
                    if(btn.innerHTML != "Enter room"){
                        var http = new XMLHttpRequest()
                        http.open("POST","http://localhost:5000/api/room/"+btn.value+"/user?user_id="+user.user_id, true)
                        http.onreadystatechange = function(){
                            if(this.readyState == 4 && this.status === 200){
                                //user = JSON.parse(this.responseText);
                                //btn = document.getElementsByClassName("btnrooms")
                                btn.innerHTML = "Enter room"
                                btn.onclick = function(){
                                    enter_room(this)
                                }

                            }

                        }
                        http.send();
                    }else{enter_room(btn)}
                }
                

                function show_rooms(){
                    rsb[0].innerHTML = "";
                    //console.log(rooms)
                    roomsK = Object.keys(rooms) 
                    for(var i = 0; i < roomsK.length; i++){
                        var has_Joined = false;
                        var usersK = Object.keys(rooms[roomsK[i]].users)
                        for(var j = 0; j < usersK.length; j++){
                            if(user.user_id == rooms[roomsK[i]].users[usersK[j]].user_id){
                                has_Joined = true   
                            }
                        }
                        var btn = "<button class=\"btnrooms\">Join room</button>"
                        if (has_Joined == true ){
                            btn = "<button class=\"btnrooms\">Enter room</button>"
                        }

                        var room_name = "<h1>Room  "+rooms[roomsK[i]].room_id+"</h1>"
                        rsb[0].innerHTML +=  "<div class=\"room\">"+ room_name + btn+"</div>"
                            
                        var btn2 = document.getElementsByClassName("btnrooms");
                        btn2[i].value=i+1
                        
                        

                        
                            
                    }
                    for(var i = 0; i < roomsK.length; i++){
                            //var btn2 = document.getElementsByClassName("btnrooms");
                            btn2[i].onclick = function(){join_a_room(this)}
                        }

                }
                show_rooms()
            }
        }
        http.send();
    }

    function validateUsername() {
        str=document.getElementById("username").value;
        var error = "";
        var illegalChars = /\W/; // allow letters, numbers, and underscores

        if (str == "") {
            error = " Please enter Username";
        } else if ((str.length < 5) || (str.length > 15)) {
            error = " Username must have 5-15 characters";
        } else if (illegalChars.test(str)) {
          error = " Please enter valid Username. Use only numbers and alphabets";

        } else {
            error = "username successful";
            //document.getElementsByClassName("box")[0].action="/api/user?name="+str;
            var http = new XMLHttpRequest()
            http.open("POST","http://localhost:5000/api/user?name="+str, true)
            http.onreadystatechange = function(){
                if(this.readyState == 4 && this.status === 200){
                    user = JSON.parse(this.responseText);
                    console.log(user)

                    Getallrooms()

                }

            }
            http.send();

        }
        alert (error);
    }
    </script>

    </body>
    </html>
