
<html>
<head>
<title></title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
<link rel="stylesheet" href="./static/style.css">

<meta charset="utf-8">
</head>
<body>
    <form class="box" action="" method="POST">
<h1>
    Create a User
</h1>
<input type="text" name="" placeholder="Enter Username" id="username">
<input type="submit" name="" value="Create a User" onclick="validateUsername()">
</form>






<script>
function validateUsername() {
    str=document.getElementById("username").value;
    var error = "";
    var illegalChars = /\W/; // allow letters, numbers, and underscores

    if (str == "") {
        error = " Please enter Username";
    } else if ((str.length < 5) || (str.length > 15)) {
        error = " Username must have 5-15 characters";
    } else if (illegalChars.test(str)) {
  	error = " Please enter valid Username. Use only numbers and alphabets";
      
    } else {
        error = "username successful";

    }
    alert (error);
}
</script>

</body>
</html>